html,
body {
  height: 90%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  display: flex;
  justify-content: center;
  font-family: "Expletus Sans", cursive;
  font-size: 50px;
  letter-spacing: 10px;
}

header h1 {
  font-family: "Expletus Sans", cursive;
  letter-spacing: 10px;
  margin: 5px;
}

.logo:hover {
  text-decoration: none;
}

.logo:focus {
  text-decoration: none;
}

input {
  width: 500px;
  height: 30px;
}

.search_buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 90px;
  width: 100%;
  background-color: #eee;
}

nav h3 {
  margin: 5px;
}

input#after_search {
  display: flex;
  align-items: center;
  margin: 15px;
  padding-left: 7px;
  height: 35px;
  font-size: 20px;
}

section {
  padding-left: 160px;
  padding-top: 30px;
}

.wiki_title {
  font-size: 1.5em;
}

.wiki_title a {
  color: #1717de;
}

.wiki_title a:visited {
  color: purple;
}

.wiki_snippet {
  width: 500px;
  padding-bottom: 15px;
}

.wiki_snippet_8 {
  padding-bottom: 45px;
}

.search_buttons a:hover {
  color: black;
  background-color: #eee;
  border-color: #bfb4b4;
}

.error {
  font-size: 1.3em;
}

.after_search_container {
  display: flex;
  align-items: center;
}

.after_search_container span {
  display: flex;
  height: 35px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 35px;
  background-color: #3369e8;
  margin-left: -15px;
  color: white;
}

.after_search_container span i {
  margin-left: 6px;
}

.after_search_container span:hover {
  cursor: pointer;
}

/*Media Query*/

@media (min-width: 521px) and (max-width: 720px) {
  input#after_search {
    width: 300px;
  }

  input#before_search {
    width: 250px;
  }

  .wiki_snippet {
    width: 350px;
  }

  section {
    padding-left: 35px;
  }
}

@media only screen and (max-width: 520px) {
  input#before_search {
    width: 250px;
  }

  input#after_search {
    width: 250px;
  }

  .wiki_snippet {
    width: 350px;
  }

  section {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 470px) {
  input#before_search {
    width: 300px;
  }

  input#after_search {
    width: 160px;
  }

  .wiki_snippet {
    width: 330px;
  }

  section {
    padding-left: 20px;
  }
}
p {
  text-align: center;
}
.footer {
  font-family: sans-serif;
  font-size: 15px;
  border-top: 1px solid #f2f2f2;
  bottom: 20px;
  width: 100%;
  min-width: 350px;
  padding: 1em 1em 0em 1em;
  position: absolute;
}
.footer-logos {
  position: bottom;
  margin-top: -1em;
  font-size: 10px;
}
.footer-logos a {
  text-decoration: none;
}
.footer-logos i {
  text-align: center;
  margin: 0 0 1em 1em;
  padding-top: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 25%;
  vertical-align: -1.5em;
}
.footer-logos .genericon {
  width: 2em;
  height: 2em;
}
.footer-logos .fa {
  width: 2em;
  height: 2em;
}
.footer .container-fluid {
  position: bottom;
  max-width: 1000px;
}

img.search-engine-logo {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.search-field {
  width: 500px;
  height: 40px;
  border-radius: 50px;
}
.search_buttons {
  padding: 20px;
  text-align: center;
  display: block;
}

.btn-primary {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: grey;
}
.bottom {
  position: fixed;
  width: 90px;
  bottom: 250px;
  left: calc(50% - (90px / 2));
}

input#after_search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

/* For mobile phones: */
@media (min-width: 140px) {
  .search-field {
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 50px;
  }
}
@media (min-width: 768px) {
  .search-field {
    width: 100%;
    height: 40px;
    margin: auto;
    border-radius: 50px;
  }
}
@media (min-width: 1024px) {
  .search-field {
    width: 500px !important;
    height: 40px;
    margin: auto;
    border-radius: 50px;
  }
}
.wiki_results{
  padding: 40px;
}
.wiki_result{
  margin-bottom: 20px;
}

.card-title {
  color: #1a0dab;
  font-family: arial, sans-serif;
  font-size: 20px;
}
p.card-text {
  color: #4d5156;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: left;
  max-width: 80%;
}
.wiki_results{
  max-width: 840px;
}
.card-body{
  padding: 0px;
}
.card{
  border: none;
}